/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
} */
.carousel {
    max-width: 1400px;
    width: 100%;
    padding: 60px 0;
}

.slide-container {
    margin: 0 0px;
    overflow: hidden;
}

.card {
    background: #fff;
    border-radius: 8px;
}

.card .image-box {
    height: 200px;
}

.card .image-box img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    width: 100%;
    /* Đảm bảo hình ảnh đầy đủ chiều rộng của card */
    height: 100%;
    /* Đảm bảo hình ảnh đầy đủ chiều cao của card */
    object-fit: cover;
    /* Tùy chọn để giữ tỉ lệ khung và cắt bớt hình ảnh */
}

.card .profile-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 15px;
}

.card .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.profile-details .name {
    font-size: 15px;
    font-weight: 500;
}

.profile-details .job {
    font-size: 12px;
    font-weight: 500;
    color: #4d4d4d;
}

.swiper-navBtn {
    color: #0000009e;
    height: 50px;
    width: 50px;
    transform: translateY(-40%);
    background: #ffffff69;
    border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background-color: #333;
}



@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none;
    }
}

.name,
.job {
    padding: 0 0;
    margin: 0 0;
    font-family: 'Ubuntu', sans-serif;
}