@keyframes blinker {
	50% {
		opacity: 0
	}
}


/* bounce effect */
@-webkit-keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-30px);
	}

	60% {
		-webkit-transform: translateY(-15px);
	}
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

@-webkit-keyframes bounce_auto {

	0%,
	50%,
	100% {
		-webkit-transform: translateY(0);
	}

	25% {
		-webkit-transform: translateY(15px);
	}

	75% {
		-webkit-transform: translateY(-15px);
	}
}

@keyframes bounce_auto {

	0%,
	50%,
	100% {
		-webkit-transform: translateY(0);
	}

	25% {
		-webkit-transform: translateY(15px);
	}

	75% {
		-webkit-transform: translateY(-15px);
	}
}

.bounce {
	object-fit: contain;
	flex-shrink: 0;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

.bounce_auto {
	-webkit-animation-duration: 3s;
	animation-duration: 5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: bounce_auto;
	animation-name: bounce_auto;
}


@-webkit-keyframes hide_auto {

	0%,
	50%,
	100% {
		opacity: 0;
	}

	25% {
		opacity: 0.5;
	}

	75% {
		opacity: 1;
	}
}

@keyframes hide_auto {

	0%,
	50%,
	100% {
		opacity: 0;
	}

	25% {
		opacity: 0.5;
	}

	75% {
		opacity: 1;
	}
}

/* .showtoTop {
	opacity: 0;
}

.active .showtoTop {
	animation: showTop 1s ease-in-out 1 forwards;
}

@keyframes showTop {
	from {
		opacity: 0;
		transform: translate(0, 100px);
	}

	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

.delay-02 {
	animation-delay: 0.2s !important;
}

.delay-04 {
	animation-delay: 0.4s !important;
}

.delay-06 {
	animation-delay: 0.6s !important;
}

.delay-08 {
	animation-delay: 0.8s !important;
}

.delay-1 {
	animation-delay: 1s !important;
} */