/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
} */
.carousel {
  max-width: 1400px;
  width: 100%;
  padding: 60px 0;
}

.slide-container {
  margin: 0 0px;
  overflow: hidden;
}

.card {
  background: #fff;
  border-radius: 8px;
  /* Đường viền cho card */
  /* border: 0.1px solid #ffffff95; */
}

.card .image-box {
  height: 200px;
  display: flex;
  justify-content: flex-start;
  /* Đặt nội dung về phía trái */
  align-items: flex-start;
  /* Đặt ảnh ở trên cùng */
}

.card .image-box img {
  /* width: 100%; */
  border-radius: 8px 8px 0 0;
  /* Đảm bảo hình ảnh đầy đủ chiều rộng của card */
  /* height: 100%; */
  /* Đảm bảo hình ảnh đầy đủ chiều cao của card */
  object-fit: cover;
  max-width: 100%;
  /* Đảm bảo ảnh không vượt quá kích thước của nó */
  max-height: 100%;
  /* Đảm bảo ảnh không vượt quá kích thước của nó */
  align-self: flex-start;
  /* Đặt ảnh ở trên cùng */
  /* Tùy chọn để giữ tỉ lệ khung và cắt bớt hình ảnh */
  margin-top: 0.1px;
}

.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}

.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #0000009e;
  height: 50px;
  width: 50px;
  transform: translateY(-40%);
  background: #ffffff69;
  border-radius: 50%;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 24px;
}

.swiper-pagination-bullet {
  background-color: #333;
}



@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}

.name,
.job {
  padding: 0 0;
  margin: 0 0;
  font-family: 'Ubuntu', sans-serif;
}


.dark-mode .swiper-pagination-bullet-active {
  background-color: #f7f4f4;
}

.dark-mode .swiper-pagination-bullet {
  background-color: #dfd9d9;
}

.dark-mode .profile-details .name {
  color: #000000c6;
}

.dark-mode .profile-details .job {
  color: #4d4d4d;
}

.card {
  background: #7a8493;
  height: 300px;
  /* Chiều cao cố định của card */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Căn đầu của phần tử theo phía trên */
  align-items: center;
  /* Căn giữa nội dung theo chiều ngang */
  position: relative;
  /* Đặt vị trí tương đối để phần details có thể sử dụng chiều rộng 100% của card */
}

.image-box {
  margin-bottom: auto;
  /* Khoảng cách giữa hình ảnh và phần details. Auto ở đây sẽ đẩy phần details lên cạnh trên của card */
}

.profile-details {
  background-color: #ffffff;
  /* Màu nền của phần details */
  padding: 10px 0px;
  /* Padding cho phần details */
  text-align: left;
  /* Căn nội dung về trái */
  width: 100%;
  /* Chiều rộng 100% của card */
  position: absolute;
  /* Đặt vị trí tuyệt đối để sử dụng chiều rộng 100% của card */
  bottom: 0;
  /* Đặt ở dưới cùng của card */

  border-radius: 0 0 8px 8px;
}

.profile-details img {
  margin-left: 10px;
}

.dark-mode .profile-details {
  background-color: #3c495f;
}


/* Mobile */
@media (max-width: 46.1875em) {
  .card .image-box img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    width: 100%;
    /* Đảm bảo hình ảnh đầy đủ chiều rộng của card */
    height: 100%;
    /* Đảm bảo hình ảnh đầy đủ chiều cao của card */
    object-fit: scale-down;
    /* Tùy chọn để giữ tỉ lệ khung và cắt bớt hình ảnh */
  }
}